body{
    color: orange;
}

.jumbotron{
    background-color: gray;
}

.center-text{
    text-align: center !important;
}

#title {
    font-family: 'Bungee', cursive;
    color: brown;
    margin: 0 auto;
    display: inline-block;
    font-size: 2rem;
}

#lead{
    font-family: 'Bungee', cursive;
    font-size: 1rem;
    color: yellow;
}


.right-side {
    border-left: 2px solid rgba(255, 68, 0, 0.719);
}

#burgersMade, label {
    color: green;
}