body{
    color: white;

}

.jumbotron{
    background-color: rgb(248, 213, 149);
}

.center-text{
    text-align: center !important;
}

#title {
    font-family: 'Bungee', cursive;
    color: brown;
    margin: 0 auto;
    display: inline-block;
    font-size: 2rem;
}

#lead{
    font-family: 'Bungee', cursive;
    font-size: 1rem;
    color: rgb(255, 94, 0);
}


#burgersMade {
    color: green;
}

label {
    color: white;
}

#newBurger {
    color: red;
}